{% extends 'base.html' %}
{% block title %}Password Reset {{ block.super }}{% endblock title %}
{% block content %}
<div class="personal-info-container">
    <div class="left-column">
        <h1 class="font">Password Reset</h1>
{% if validlink %}
    <form method="post" action="{{ request.path }}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="nav-button-link">Change Password</button>
    </form>
{% else %}
    <p class="box box-error">Password Reset Failed: the link has expired and is no longer valid.</p>
{% endif %}
{% endblock content %}