{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "password changed at"|capfirst %} {{ block.super }}{% endblock title %}
{% block content %}
<div class="personal-info-container">
    <div class="left-column">
        <h1 class="font">{% trans "password has been changed successfully!"|capfirst %}</h1>
<p>{% trans "you can now"|capfirst %} <a href="{% url 'login' %}" class="nav-button-link">{% trans "log in"|capfirst %}</a>{% trans "with your new password."|title %}</p>
{% endblock content %}
<p>