{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "create template"|capfirst %}{% endblock title %}
{% block content %}
<div class="left-column">
<h1 class="font">{% trans "create template"|capfirst %}</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% if user.is_authenticated %}
        {% comment %} <div class="form-field">
            <label for="{{ about_me_form.user.id_for_label }}">User:</label>
            {{ about_me_form.user }}
        </div> {% endcomment %}
        <div class="form-field">
            <label for="{{ personal_info_form.picture.id_for_label }}">{% trans "picture:"|capfirst %}</label>
            {{ personal_info_form.picture }}
        </div>
        <div class="form-field">
            <label for="{{ personal_info_form.first_name.id_for_label }}">{% trans "first name:"|title %}</label>
            {{ personal_info_form.first_name }}
        </div>
        <div class="form-field">
            <label for="{{ personal_info_form.last_name.id_for_label }}">{% trans "last name:"|title %}</label>
            {{ personal_info_form.last_name }}
        </div>
        <div class="form-field">
            <label for="{{ personal_info_form.age.id_for_label }}">{% trans "age:"|capfirst %}</label>
            {{ personal_info_form.age }}
            <small>{% trans "accepting only numbers."|capfirst %}</small>
        </div>
        <div class="form-field">
            <label for="{{ personal_info_form.residence.id_for_label }}">{% trans "residence:"|capfirst %}</label>
            {{ personal_info_form.residence }}
        </div>
        <div class="form-field">
            <label for="{{ personal_info_form.programming_languages.id_for_label }}">{% trans "programming languages:"|capfirst %}</label>
            {{ personal_info_form.programming_languages }}
        </div>
        <div class="form-field">
            <label for="{{ personal_info_form.hobbies.id_for_label }}">{% trans "hobbies:"|capfirst %}</label>
            {{ personal_info_form.hobbies }}
        </div>
        <div class="form-field">
            <label for="{{ personal_info_form.email.id_for_label }}">{% trans "email:"|capfirst %}</label>
            {{ personal_info_form.email }}
        </div>
        <div class="form-field">
            <label for="{{ personal_info_form.phone_number.id_for_label }}">{% trans "phone number:"|capfirst %}</label>
            <input type="tel" id="{{ personal_info_form.phone_number.id_for_label }}"
                   name="{{ personal_info_form.phone_number.html_name }}"
                   value="{{ personal_info_form.phone_number.value }}"
                   pattern="^\+370\d{8}$"
                   required>
                   <small>{% trans "format:"|title %} +370XXXXXXXX</small>
        </div>
        <div class="form-field">
            <label for="{{ about_me_form.about_me.id_for_label }}">{% trans "about me:"|capfirst %}</label>
            {{ about_me_form.about_me }}
        </div>
        <div>
            <button class="nav-button-link" type="submit">{% trans "submit"|capfirst %}</button>
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}

