.user-icon {
    display: flex;
    align-items: center;
    margin-right: 15px;
    font-size: 15px;
    
}

.control-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-panel {
    display: flex;
    justify-content: flex-end;
}

.nav {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.nav-button {
    margin: 0 35px;
}

.nav-button a {
    text-decoration: none;
    color: #333;
    transition: box-shadow 0.3s ease;
}

.nav-button a:hover {
    color: rgba(255, 0, 0, 0.877);
    transform: scale(1.05);
     
}

.nav-button-link {
    padding: 3px 6px;
    text-decoration: none;
    color: #333;
    border:lightcoral;
    border-radius: 6px;
    transition: box-shadow 0.3s ease;
    margin-right: 7px
}

.nav-button-link:hover {
    color: rgba(255, 0, 0, 0.877);
    transform: scale(1.05);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}

.font {
    color: rgba(0, 0, 0, 0.809);
    font-weight: bold;
    font-style: initial;
}

.personal_photo {
    max-width: 150px;
    max-height: 150px;
    border-radius: 10%;
    object-fit: cover;
}

.default-photo {
    max-width: 150px;
    max-height: 150px;
    border-radius: 10%;
    object-fit: cover;
}

.background-style {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 300px) {
    .background-style {
        background-size: contain;
    }
}

.title {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-style: initial;
    text-align: left;
}

.rendered-information {
    color: rgb(0, 0, 0); 
    font-weight: bold;
    font-style: inherit;
    text-align: right;
}

.about_me_information {
    color:  rgb(0, 0, 0); 
    font-weight: bold;
    font-style: initial;
    text-align: left;
    margin-left: 100px;
    line-height: 1.7;
}

.personal-info-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px; 
}

.left-column {
    flex: 1;
    max-width: 30%;
    margin-top: 95px;
    margin-left: 45px;
    justify-content: center;
    align-items: center;
}

.right-column {
    flex: 1;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 90px; 
}

@media screen and (max-width: 768px) {
    .personal-info-container {
    flex-direction: column;
    align-items: stretch;
    }
  
    .left-column,
    .right-column {
      max-width: 100%;
    }
}

.box-error {
    color: #ff0000;

}


