.user-icon {
    display: flex;
    align-items: center;
    margin-right: 4px;
    font-size: 22px;
    background-color: transparent;
}

.control-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-panel {
    display: flex;
    justify-content: flex-end;
}

.nav {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.nav-button {
    margin: 0 35px;
}

.nav-button a {
    text-decoration: none;
    color: #333;
    transition: box-shadow 0.3s ease;
}

.nav-button a:hover {
    color: rgba(255, 0, 0, 0.877);
    transform: scale(1.05);
}

.nav-button-link {
    padding: 5px 8px;
    font-size: 14px;
    text-decoration: none;
    color: rgb(15, 162, 135);
    border: lightcoral;
    border-radius: 6px;
    margin-right: 7px;
}

.nav-button-link:hover {
    color: rgba(255, 0, 0, 0.877);
    transform: scale(1.05);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.current {
    background-color:rgba(237, 151, 151, 0.709);
    color: #fff;
    padding: 3px 7px;
    border-radius: 5px;
}

.font {
    color: rgba(0, 0, 0, 0.809);
    font-weight: bold;
    font-style: initial;
}

.font-small {
    color: rgba(255, 0, 0, 0.877);
    font-weight: bold;
    font-size: 0.5em;
}

.font-medium{
    color: rgba(255, 0, 0, 0.877);
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 1.2%;
}


.recipient-font {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.1em;
}

.personal_photo,
.default-photo {
    max-width: 150px;
    max-height: 150px;
    border-radius: 10%;
    object-fit: cover;
}

.background-style {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 300px) {
    .background-style {
        background-size: contain;
    }
}

.title {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-style: initial;
    text-align: left;
}

.rendered-information {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: inherit;
    text-align: right;
}

.about_me_information {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: initial;
    text-align: left;
    margin-left: 100px;
    line-height: 1.7;
}

.personal-info-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1vw;
}

.left-column {
    flex: 1;
    max-width: 35%;
    margin-top: 90px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
}

.personal-info {
    flex: 1;
    max-width: 40%;
    margin-top: 127px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
}

.right-column {
    flex: 1;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 90px;
}

.right-column-2 {
    margin-left: 40rem;
    display: flex;
    top: 15.1rem;
    flex-direction: column;
    align-items: flex-start;
    position: sticky; 
    margin-bottom: -130px;
    overflow-y: auto; 
}

@media screen and (max-width: 768px) {
    .personal-info-container {
        flex-direction: column;
        align-items: stretch;
    }

    .left-column,
    .right-column {
        max-width: 100%;
    }
}

.box-error {
    color: #ff0000;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    align-items: flex-start;
}

.form-field label {
    margin-bottom: 3px;
}

.form-field textarea {
    height: 120px;
    width: 33rem;
}

body {
    background: #333;
    min-height: 100vh;
    margin-left: 80px;
    margin-top: 50px;
}

.pagination {
    display: inline-block;
}

.pagination a{
    padding: 3px 6px;
    text-decoration: none;
    color: #333;
    border: lightcoral;
    border-radius: 6px;
    margin-right: 7px;
}

.pagination a:hover {
    color: rgba(255, 0, 0, 0.877);
    transform: scale(1.05);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    align-items: flex-start;
}

.form-group label {
    margin-bottom: 2px;
}

.form-group textarea {
    height: 130px;
    width: 34rem;
}

.success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.success-message {
    color: rgb(133, 237, 133);
    padding: 17px;
    border-radius: 20px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.5);
}

.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 39vh;
}

.error-message {
    color: rgb(255, 0, 0);
    padding: 17px;
    border-radius: 20px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.5);
}

.language-bar {
    justify-content: flex-start;
    align-items: center;
}

.nav-panel2 {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav-panel2 select {
    font-size: 11px;
    background-color: transparent;
    cursor: grab;
    margin: 0 40px;
}

